<IfModule mod_rewrite.c>
ErrorDocument 404 https://testcaresort.com/cdrmsolutions/404
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php
#RewriteRule ^([a-z]+)\/?$ $1.php [NC]
#RewriteRule service/([a-z]+)/ index.php [NC]
RewriteRule ^([-\w]+)$ single-blog.php?slug=$1 [NC,L]
RewriteRule ^service/([-\w]+)$ single-service-category.php?slug=$1 [NC,L]
</IfModule> 